.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: #ADD8E6;
  }
  
  .login-form-container {
    border: 1px solid black;
    padding: 40px;
    background-color: #fff;
    border-radius: 9px;
    width: 300px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .login-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .login-button:hover {
    background-color: #45a049;
  }
  